server {
    listen 80 default_server;
    listen 443 ssl;

    server_name PORTAL_DOMAIN_NAME;

    ssl_certificate      /certs/PORTAL_DOMAIN_NAME.crt;
    ssl_certificate_key  /certs/PORTAL_DOMAIN_NAME.key;

    # Redirect non-https traffic to https
    if ($scheme != "https") {
        return 301 https://$host$request_uri;
    }

    location / {

      proxy_set_header        Host $host;
      proxy_set_header        X-Real-IP $remote_addr;
      proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header        X-Forwarded-Proto $scheme;

      proxy_pass          http://portal:3000;
      proxy_read_timeout  90;

      proxy_redirect      http://portal:3000 https://PORTAL_DOMAIN_NAME;
    }
}
