@import "~nhsuk-frontend/packages/nhsuk";

.deductions-header-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.deductions-header-wrap{
  display:flex;
  justify-content: space-between;
}

.deductions-user-info {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.deductions-user-info-toggled-content {
  background-color: #f0f4f5;
  overflow: hidden;
  padding: 0 18px 0 0;
  color: black;
}

.deductions-user-info-name {
  display: block;
}

.deductions-user-info-item {
  list-style-type: none;
  height: 30px;
}

.hidden {
  display: none;
}